.area-chart-container {
  width: 100%;
  padding: 1rem 0;
}

.area-chart-container .recharts-legend-wrapper {
  color: #8D96A0 !important;
}

.area-chart-container .recharts-legend-item-text {
  color: #8D96A0 !important;
}
